.container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    font-size: $text__base-size;
    width: 80%;
    min-width: 430px;
    height: 50vh;
    border: 0 solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 15px 2px rgba(0,0,0,.25);
    overflow: hidden;
    margin: 20px;
}

.issues {
    width: 70%;
    flex-basis: 70%;
    flex: 1;
    background: $color__main--primary;
    overflow-y: auto;
    padding: 10px 0;
}

.issue-cluster {
    padding: 0 15px;
}

.issue-cluster__date {
    color: $color__font--accents;
    font-size: $text__date-size;
}

.issue-cluster__item {
    background: $color__main--secondary;
    color: black;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid $color__main--accents;
    border-radius: 5px;
    label {
        float: right;
    }
}
