.container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.app {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-size: $text__base-size;
    width: 100%;
    border-radius: 15px;
    border: 2px solid transparent;
    overflow: hidden;
    .app__sidebar {
        width: 30%;
        flex-basis: 30%;
        background: $color__sidebar--primary;
        a {
            display: inline-block;
            color: $color__font--sidebar;
            text-decoration: none;
            width: 100%;
            padding: 20px;
            &:focus {
                background: $color__sidebar--secondary;
            }
            .item__icon {
                position: relative;
                padding-right: 5px;
                top: 2px;
            }
        }
    }
    .issues {
        width: 70%;
        flex-basis: 70%;
    }
}