html, body {
    height: 100vh;
}

body {
    @extend %background;
    min-height: 100vh;
    @include font-size(15);
    @include line-height();
    font-family: $text__family-sans;
}

body * {
    box-sizing: border-box;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] ~ label:hover svg {
    fill: $color__font--accents;
}

input[type="checkbox"] ~ label svg {
    fill: $color__main--secondary;
    stroke: $color__main--accents;
}

input[type="checkbox"]:checked ~ label svg {
    fill: $color__main--star;
}
