html, body {
    height: 100vh;
}

body {
    min-height: 100vh;
    // background: url(../../img/background.jpg) no-repeat center;
    @include font-size(15);
    @include line-height();
    font-family: $text__family-sans;
}

body * {
    box-sizing: border-box;
}