html, body {
    height: 100vh;
}

body {
    @extend %background;
    min-height: 100vh;
    @include font-size(15);
    @include line-height();
    font-family: $text__family-sans;
}

body * {
    box-sizing: border-box;
}
