// main
$color__main--primary: #f6f6f6;
$color__main--secondary: #fff;

// sidebar
$color__sidebar--primary: #101022;
$color__sidebar--secondary: #292a48;

// fonts
$color__font--main: #000;
$color__font--sidebar: #fff;
$color__font--accents: #8a8995;
