.sidebar {
    width: 30%;
    max-width: 150px;
    flex-basis: 30%;
    background: rgba($color__sidebar--primary, 0.9);
    overflow: hidden;
    font-size: $text__sidebar-size;
}

.navbar__link {
    display: inline-block;
    color: $color__font--sidebar;
    text-decoration: none;
    width: 100%;
    padding: 15px;
    transition: ease-in 0.2s;
    &:hover {
        background: rgba($color__sidebar--secondary, 0.6);
    }
    &:focus {
        background: $color__sidebar--secondary;
    }
    .item__icon {
        position: relative;
        padding-right: 5px;
        top: 2px;
        width: 20px;
        height: auto;
        path {
            fill: white;
        }
    }
}

.navbar__issue-counter {
    position: relative;
    min-width: 20px;
    right: -5px;
    color: $color__font--accents;
    float: right;
    text-align: center;
}

.navi-buttons {
    background: $color__sidebar--primary;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    .navi-button {
        flex-shrink: 0;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 50%;
        background: black;
    }
    .navi-button--close {
        background: $color__navi-button--close;
    }
    .navi-button--minimize {
        background: $color__navi-button--minimize;
    }
    .navi-button--maximize {
        background: $color__navi-button--maximize;
    }
}