// text settings
@font-face{font-family: 'Roboto Regular';src: url(../../fonts/Roboto-Regular.ttf)};
@font-face{font-family: 'Proxima Nova';src: url(../../fonts/ProximaNova-Regular.ttf)};

$text__family-sans: 'Roboto Regular', Helvetica, Arial, sans-serif !default;
$text__base-size: 15px !default;
$text__date-size: 12px !default;
$text__base-height: 20 !default;
$text__sidebar-size: 14px !default;
