@import '_reset';
@import '_mixins';
@import '_base';

html, body {
    height: 100vh;
}

body {
    min-height: 100vh;
    @include font-size(15);
    @include line-height();
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
